@import url('https://fonts.googleapis.com/css2?family=Nunito:wght@200;300;400;600;700&display=swap');

:root{
    --crimson:#990000 ;
}
*{
    font-family: 'Nunito', sans-serif;
    margin: 0; padding: 0;
    box-sizing: border-box;
    outline: none; border: none;
    text-decoration: none;
    text-transform: capitalize;
    transition: all .2s linear;
}

*::selection{
    background: var(--crimson);
    color:#fff;

}

html{
    font-size: 62.5%;
    overflow-x: hidden;
    scroll-behavior: smooth;
    scroll-padding-top: 6rem;
}

body{
    background: #f7f7f7;
}

section{
    padding: 2rem 9%
    ;    
}

header{
    position: fixed;
    top: 0; left: 0; right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    background: whitesmoke;
    padding: 2rem 9%;
    box-shadow: 0.5rem 0rem rgba(0, 0, 0, 1);
}

header .logo{
    font-size: 2.5rem;
    font-weight: bolder;
    color: #666;    
}

header .logo i{
    padding-right: .5rem;
    color: var(--crimson);
}

header .navbar a{
    font-size: 2rem;
    margin-left: 2rem;
    color: #990000;
}

#menu-bar{
    font-style: 3rem;
    cursor: pointer;
    color: #666;
    border: .1rem solid #666;
    border-radius: .3rem;
    padding: .5rem 1.5rem;
    display: none;
}

.home{

    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height: 100vh;
    align-items: center;
    background-size: cover;
    background-position: center ;

}
.home .content{
    flex: 1 1 40rem;
    padding: 6.5rem;
}
.home .image{
    flex: 1 2 40rem;
}
.home .image2{
    flex: 1 2 40rem;
}
.home .image img{
    width:100%;
    padding: 1rem;
}
.home .image2 img{
    width: 90%;
    padding: 1rem;
}


  
h2{
    font-size:xx-large;
    color: #990000; 
}
h3{
    font-size: xx-large;
    padding-left: 5rem;
    color: cadetblue;
    }
p{
    font-size: large;
    padding-left: 5rem;
}
.Page2{

    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height: 100vh;
    align-items: center;
    background-size: cover;
    background-position: center ;

}
.Page2 .content{
    flex: 1 1 40rem;
    padding: 6.5rem;
}
.Page2 .image{
    flex: 1 2 40rem;
}
.Page2 .image img{
    width: 50%;
    padding: 1rem;
}

.Page3{

    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height: 100vh;
    align-items: center;
    background-size: cover;
    background-position: center ;

}
.Page3 .content{
    flex: 1 1 40rem;
    padding: 6.5rem;
}
.Page3 .image{
    flex: 1 2 40rem;
}
.Page3 .image img{
    width: 50%;
    padding: 1rem;
}

.Page4{

    display: flex;
    flex-wrap: wrap;
    gap:1.5rem;
    min-height: 100vh;
    align-items: center;
    background-size: cover;
    background-position: center ;

}
.Page4 .content{
    flex: 1 1 40rem;
    padding: 6.5rem;
}
.Page4 .image{
    flex: 1 2 40rem;
}
.Page4 .image img{
    width: 50%;
    padding: 1rem;
}

@media(max-width:991px){
   
    html{
        font-size: 55%;
    }
    header{
        padding: 2rem;
    }
}
@media(max-width:786px){
    #menu-bar{
        display: initial;
    }
    header .navbar{
        position: absolute;
        top: 100%; left: 0; right: 0;
        background: #f7f7f7;
        border-top: .1rem solid rgba(0, 0, 0, 1);
        clip-path: polygon(0 0, 100% 0, 100% 0, 0 0);
       
    }
    header .navbar.active{
        clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
    }
    header .navbar a{
        margin: 1.5rem;
        padding: 1.5rem;
        display: block;
        border: .1rem solid rgba(0, 0, 0, 1);
        border-left: .5rem solid var(--green);
        background: #fff;
    }
}


@media(max-width:400px){
   
    html{
        font-size: 50%;
    }
 
}
